@charset "utf-8";

/* body */
body {
    background-image:url("images/cernium.png");
    background-repeat:no-repeat;
    background-size:3500px;
    background-position:center;
}
/* menus */
#eqpW{
	background-image:url("images/eqpwindow.png");
	background-repeat:no-repeat;
	background-size:500px;
	position:absolute;
	height:900px;
	width:1500px;
	margin-top:0px;
}

#SideMenu{
    height:900px;
    width:500px;
}
#MainMenu{
    height:900px;
    width:800px;
    margin-left:30px;
}
#rightMenu{
    height:900px;
    width:550px;
    margin-left:360px;
}
#footer{
    height:600px;
    width:1874px;
    float:left;
}
/* ======================
    dropdown button divs
   ====================== */

#classOne{
    margin-top:200px;
}
/*totem*/
#totemTwo{
    margin-left:30px;
}

#totemThree{
    margin-left:30px;
}
/*ring*/
#ringTwo{
    margin-left:10px;
}
#ringThree{
    margin-left:10px;
}
#ringFour{
    margin-left:10px;
}
/*acc*/
#eyeOne{
    margin-left:10px;
}
#pendantOne{
    margin-left:10px;
}
#pendantTwo{
    margin-top:10px;
}
#beltOne{
    margin-top:10px;
    margin-left:10px;
}
#earringOne{
    margin-top:10px;
    margin-left:10px;
}
/*armour*/
#topOne{
    margin-left:10px;
}
#bottomOne{
    margin-left:10px;
}
#glovesOne{
    margin-left:10px;
}
#bootsOne{
    margin-top:10px;
}
#shoulderOne{
    margin-top:10px;
    margin-left:10px;
}
#capeOne{
    margin-top:10px;
    margin-left:10px;
}
/*wse*/
#secondaryOne{
    margin-left:10px;
}
#emblemOne{
    margin-left:10px;
}
/*misc*/
#badgeOne{
    margin-left:10px;
}
#medalOne{
    margin-left:10px;
}
#androidOne{
    margin-top:10px;
    margin-left:10px;
}
#heartOne{
    margin-top:10px;
    margin-left:10px;
}

/* equip divs */

#totem1{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:42px;
    margin-left:20px;
    opacity:50%;
}
#totem2{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:7px;
    margin-left:20px;
    opacity:50%;
}
#totem3{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:4px;
    margin-left:20px;
    opacity:50%;
}
#ring1{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:-159px;
    margin-left:124px;
    opacity:50%;
}
#ring2{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:124px;
    opacity:50%;
}
#ring3{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:124px;
    opacity:50%;
}
#ring4{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:124px;
    opacity:50%;
}
#pocket{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:124px;
    opacity:50%;
}
#pendant1{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:-277px;
    margin-left:195px;
    opacity:50%;
}
#pendant2{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:195px;
    opacity:50%;
}
#weapon{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:195px;
    opacity:50%;
}
#belt{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:195px;
    opacity:50%;
}
#hat{
    height:65px;
    width:65px;
    margin-top:-350px;
    margin-left:266px;
    background-repeat:no-repeat;
    background-size:65px;
    background-position-y:8px;
}
#face{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:266px;
    opacity:50%;
}
#eye{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:266px;
    opacity:50%;
}
#top{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:266px;
    opacity:50%;
}
#bottom{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:266px;
    opacity:50%;
}
#shoes{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:266px;
    opacity:50%;
}
#earring{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:-277px;
    margin-left:337px;
    opacity:50%;
}
#shoulder{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:337px;
    opacity:50%;
}
#gloves{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:337px;
    opacity:50%;
}
#android{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:337px;
    opacity:50%;
}
#emblem{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:-421px;
    margin-left:408px;
    opacity:50%;
}
#badge{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:408px;
    opacity:50%;
}
#medal{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:408px;
    opacity:50%;
}
#secondary{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:408px;
    opacity:50%;
}
#cape{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:408px;
    opacity:50%;
}
#heart{
    background-color:red;
    height:65px;
    width:65px;
    margin-top:6px;
    margin-left:408px;
    opacity:50%;
}